<div style="margin-bottom: 20px" *ngFor="let item of exercises">
  <h3>{{item.title}} - (by: {{item.author}}) - szint: {{item.level}}</h3>
  <p [innerHTML]="item.description"></p>
  <a *ngIf="item.solution == true" class="btn btn-primary" href="{{item.solutionpath}}" target="_blank" download>
    Megoldás letöltése
  </a>
  <a *ngIf="item.solution == false" class="btn btn-secondary" disabled>
    Megoldás letöltése
  </a>
  <a *ngIf="item.video.length > 3" class="btn btn-success" href="{{item.video}}" target="_blank" download>
    Videó megtekintése
  </a>
  <a *ngIf="item.video.length < 3" class="btn btn-secondary" disabled>
    Videó megtekintése
  </a>
</div>
